
*{
    margin: 0;
    padding: 0;
}

.collapse ul li a:hover{
  background: #e9d7e9;
  color: #ffc712;
  cursor: pointer;
}


#carouselExampleIndicators {
    width: 90%;
    margin: 0 auto;
}
.carousel-inner{
    position: relative;
    margin-top: 15px;
    margin-bottom: 50px;
}

.carousel-item img{
    height: 600px;
}

.carousel-item h1{
    background-color: #e9d7e9;
    padding: 5px;
    position: absolute;
    color: rgb(72, 71, 71);
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.row{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.row .card{
    margin: 20px;
}


.row .card img {
    width: 250px;
    height: 300px;padding-top: 10px;
}

.footer {
    padding: 15px;
    background-color: rgb(74, 73, 72);
    color: white;
  }

  .footer{
    text-align: center;
    display: flex;
    justify-content: center;
  }